/* All Elment Style */
body {
  margin: 0;
}

.color-body {
  background-color: white;
  height: 100vh;
}

.fonts {
  font-family: 'Almarai', sans-serif;
}

/* Navbar Section */
.nav-style {
  height: 90px;
  width: 1440px;
  background-color: #b45b35;
}

.logo {
  height: 72px;
  width: 75px;
}

.search {
  position: relative;
}

.fa-search {
  position: absolute;
  top: 12px;
  left: 16px;
}

.search input {
  height: 40px;
  text-indent: 25px;
  border-radius: 20px;
}

.search input:focus {
  box-shadow: -1px -1px #d6a77a;
  border: 2px solid #d6a77a;
}

/* CardMovie Section */
.card {
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
  height: 375px;
}

.card__image {
  /* display: block; */
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: none;
  transition: 0.5s ease;
  background-color: #393839;
}

.card:hover .card__overlay {
  opacity: 0.8;
}

.overlay__text {
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Pagination Section */
.activeBG {
  background-color: #b45b35;
}

/* MovieDetails Section */
.card-detalis {
  height: 370px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.card-story {
  height: 300px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.img-movie {
  height: 360px;
  padding: 10px;
  border-radius: 20px;
}

.card-text-details {
  color: #555555;
  font-family: Almarai;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.card-text-title {
  color: #555555;
  font-family: Almarai;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.card-text-story {
  color: #555555;
  font-family: Almarai;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 30px;
}

